@CHARSET "EUC-KR";

*{
    margin: 0;
    padding: 0;
}

#roomHienTai{background-color: gray; width: 100px;
 float: right; color: white;}

#room-list{
  margin: 0 auto;
  width: 870px;

}

#m_left{
	/*background-color: blue;*/
	width: 40%;
	height: 700px;
	float: left;
}

/* ///////////////////////////////////////////////////////// */
#panel, #flip {
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
    bottom: 0;
}

#panel {
    display: none;
    height: 530px;
}

#boarder{
  width: 60%;
  height: 650px;
  background-color: yellow;
  position: absolute;
  top:46px;
  z-index: -1;
}

#flip{
  height: 44px;
}

/* /////////////////////////////////////////////////////////  */

.card {

  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.title {
  color: grey;
  font-size: 18px;
}

.button_click {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.a_link {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.button_click:hover, .a_link:hover {
  opacity: 0.7;
}


/* ////////////////////////////////////////////////////////// */

.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    width: 100%!important;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container img.right {
    float: right;
    margin-left: 10px;
    margin-right:0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

.text_r{
  float: right;
  font-weight: bolder;
  line-height: 35px;
  display: inline-block;
}

.text_l{
  float: left;

  display: inline-block;
  font-weight: bolder;
  line-height: 35px;
  margin-right: 10px;
}

.text_or{
    line-height: 60px;
    margin-right: 10px;
    float: left;
}

.text_ol{
    line-height: 60px;
    margin-left: 10px;
    float: left;
}
/* ///////////////////////////////////////////////////////// */

.l_chat{
  float: left;
  background-color: yellow;
  height: 16px;
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
}

.r_chat{
  float: right;
  background-color: yellow;
  height: 16px;
}

#m_right{
	background-color: red;
	width: 60%;
	height: 700px;
	float:  right;
}
.l_div{
	width: 50%;
	background-color: green;
	float: left;
	display: block;
}

.r_div{
	width: 50%;
	background-color: gray;
	float: right;
	display: block;
}

.r_room{
	width: 100%;
	height: 232.3px;
	border: solid 0.5px black;
	float: right;
}

.l_room{
	width: 100%;
	height: 232.3px;
	border: solid 0.5px black;
	float: left;
}

.l_room:hover{
	background-color: yellow;
}

.r_room:hover{
	background-color: yellow;
}

.room_t{
	height: 60%;
	width: 100%;
	background-color: red;
	display: inline-block;
}

.room_b{
	margin-top: 10px;
}

#div-enter{
	width: 100px;
	height: 100px;
	boarder: solid 1px black;
}

/* test */
#div-chat{
  width: 40%;

  /*background-color: yellow;*/
  float: left;
}

#div-chatting{
  width: 60%;

  /*background-color: green;*/
  float: right;
}


#localStream{
    margin-left: 5%;
    margin-right: 5%;
}

#remoteStream{
  margin-left: 5%;
  margin-right: 5%;
}

#div-bottom{
  width: 100%;
  height: 300px;
  /*background-color: blue;*/
}

#div-top{
  width: 100%;
  height: 350px;
  /*background-color:  red;*/
}

#txtMessage{
  width: 82%;
  height: 30px;
  font-size: 16px;
  float: left;
}

#btnChat{
  height: 30px;
  width: 18%;
  float: left;
}

#txt_b{
  width: 100%;
  position: relative;
  bottom: 0px;
}

#dsRoom{
  width: 100%;
  height:
}

#txtwindow{
  width: 100%;
  height: 500px;
  border: 1px solid black;
  overflow: auto;
}
